.container h2{
	margin-left: 600px;
	color: orange;
}
.forgot-pwd{
	margin-top: 50px;
	margin-left: 500px;
	border: 2px solid grey;
	border-radius: 10px;
	width: 300px;
	height: 300px;
}
.forgot-pwd h3{
	margin-left: 50px;
	font-size: 24px;
}
.forgot-pwd label{
	font-size: 20px;
	margin-left: 25px;
	float: left;
}
.forgot-pwd input{
	margin-top: 10px;
	margin-left: 50px;
	height: 30px;
	width: 200px;
	border-radius: 5px;
	outline: none;
	font-size: 16px;
}
.forgot-pwd button{
	margin-top: 10px;
	margin-left: 50px;
	height: 40px;
	width: 210px;
	font-size: 16px;
	background-color: orange;
	color: white;
	border-radius: 5px;
	outline: none;
}